#page{
      width: 960px;
      margin: 0px auto auto;
      color:white;
}

html{
    font-family:Tahoma;
    background-image: url("./bg.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}
ul span.header{
      margin-right: 0.5em;
      font-weight: bold;
      color:  white
}


#me{
      
      list-style:none;
      color:  white;
      margin-bottom: 30px;
}   

#photo{
    border: 1px solid grey;
    padding: 4px;
    float:right;
    width:15%;  
    height:12%;
    margin-right:100px;
}

h2{
      border-bottom: 1px dotted white;
      padding-bottom: 10px;
      color:  white;
      margin-top: 10px;
}

#head{
  position:fixed;
  left:0; 
  top:0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  text-align: center;
  list-style: none;
  margin:0 0;
}
#head li{
  float:left;
 
}

#head a{
  color: white; 
  padding:10px 18px; 
  display: block;
  text-decoration: none;

}

.clearfix:after { 
  content:"\200B"; 
  display:block; 
  height:0; 
  clear:both; 

  padding-left: 0px;

} 
.clearfix{
  list-style:none;
  margin:0 0;
   overflow:hidden;  
   display: inline-block;
   text-align: center;
}


#head a:hover{
  background-color: grey;
}


h3{
  margin-top: 50px;
}

#head ul li{
  display:inline;
  margin:0;padding:0;
}



@font-face { 
font-family: "iconfont";
src: url("./fonts/iconfont.eot");
src: url("./fonts/iconfont.eot?#iefix") format("embedded-opentype"),
url("./fonts/iconfont.woff") format("woff"),
url("./fonts/iconfont.ttf") format("truetype"),
url("./fonts/iconfont.svg#iconfont") format("svg");}
.icon-font{font-family:"iconfont";font-size:16px;font-style:normal;font-weight: normal;font-variant: normal;text-transform: none;line-height: 1;position: relative;vertical-align:-2px;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.i-qq-border:before{content: "\f105";}